@import "../../../scss//index.scss";

.newsletter-list {
  h1 {
    font-size: 30px;
    text-align: center;
    line-height: 0.7;
    padding: 10px;
    letter-spacing: 7px;
  }

  ul li {
    display: flex;
    background-color: #fff;
    padding: 1px;
    font-size: 13px;
    font-weight: bold;
    width: 80%;
    height: 35px;
    justify-content: flex-start;
  }
}

.btn-news {
  position: absolute;
  right: 200px;

  &:hover {
    background-color: $primary-color;
  }
}
