.add-user-form {
  .form-add {
    text-align: center;

    .ant-form-item {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .btn-submit {
      width: 90%;
      transition: all 0.5s;
    }
    .btn-submit:hover {
      width: 100%;
    }
  }
}
