@import "../../../scss/index.scss";

.menu-top {
  display: flex;

  Button {
    color: #fff;
    background-color: transparent;
    border: none;
    position: absolute;
    left: 210px;
    top: 30px;

    & :hover {
      color: $primary-color;
      border: none;
      background-color: transparent;
    }
    & :focus,
    & :active {
      color: #fff;
    }
  }

  &__left {
    &-logo {
      width: 200px;
      padding: 0 0px;
      height: 75px;
    }
  }

  &__rigth {
    position: absolute;
    right: 0;
  }
}

// .btn-collapsed {
//   position: absolute;
//   left: 210px;
//   top: 30px;
//   & :hover {
//     color: $primary-color;
//     border: none;
//   }
//   & :focus,
//   & :active {
//     color: #fff;
//   }
// }
